CREATE DATABASE flightticket;
USE flightticket;

-- Table structure for table `role`
CREATE TABLE role (
    id INT NOT NULL IDENTITY(1,1),
    code NVARCHAR(100) NOT NULL,
    PRIMARY KEY (id)
);

-- Dumping data for table `role`
INSERT INTO role (code) VALUES 
('ADMIN'),
('CUSTOMER');

-- Table structure for table `users`
CREATE TABLE users (
    id INT NOT NULL IDENTITY(1,1),
    fullname NVARCHAR(100) NOT NULL,
    username NVARCHAR(50) NOT NULL,
    email NVARCHAR(100) NULL,
    phonenumber NVARCHAR(20) NULL,
    password NVARCHAR(255) NOT NULL,
    status BIT DEFAULT 1,
    role_id INT NOT NULL,
    address NVARCHAR(255) NULL,
    PRIMARY KEY (id),
    CONSTRAINT UK_users_username UNIQUE (username),
    CONSTRAINT UK_users_email UNIQUE (email),
    CONSTRAINT FK_users_role FOREIGN KEY (role_id) REFERENCES role (id)
);

-- Dumping data for table `users`

-- Table structure for table `ticket`
CREATE TABLE ticket (
    id INT NOT NULL IDENTITY(1,1),
    airline NVARCHAR(100) NULL,
    origin NVARCHAR(255) NULL,
    destination NVARCHAR(255) NULL,
    estimatedtime NVARCHAR(255) NULL,
    departuretime DATETIME NULL,
    arrivetime DATETIME NULL,
    type NVARCHAR(50) NULL,
    price BIGINT NULL,
    modifieddate DATETIME NULL,
    createdby NVARCHAR(100) NULL,
    PRIMARY KEY (id)
);

-- Dumping data for table `ticket`

-- Table structure for table `booking_history`
CREATE TABLE booking_history (
    id INT NOT NULL IDENTITY(1,1),
    user_id INT NULL,
    ticket_id INT NULL,
    payment NVARCHAR(100) NULL,
    orderstatus NVARCHAR(100) NULL,
    quantity INT NULL,
    modifieddate DATETIME NULL,
    PRIMARY KEY (id),
    CONSTRAINT FK_booking_history_users FOREIGN KEY (user_id) REFERENCES users (id),
    CONSTRAINT FK_booking_history_ticket FOREIGN KEY (ticket_id) REFERENCES ticket (id)
);

-- Dumping data for table `booking_history`
INSERT INTO booking_history (user_id, ticket_id, payment, orderstatus, quantity, modifieddate) VALUES 
(1, 1, N'Credit Card', N'Confirmed', 2, '2025-04-15 22:41:30'),
(2, 2, N'ZaloPay', N'Pending', 1, '2025-04-15 22:41:30'),
(4, 4, N'Bank Transfer', N'Confirmed', 2, '2025-04-15 22:41:30');

-- Table structure for table `hotel`
CREATE TABLE hotel (
    id INT NOT NULL IDENTITY(1,1),
    name NVARCHAR(255) NOT NULL,
    address NVARCHAR(255) NOT NULL,
    contact_info NVARCHAR(255) NULL,
    rating NVARCHAR(20) NULL,
    price_per_night BIGINT NOT NULL,
    createdby NVARCHAR(100) NULL,
    image NVARCHAR(255) NULL,
    rooms_available INT DEFAULT 0,
    description NVARCHAR(MAX) NULL,
    PRIMARY KEY (id)
);

-- Dumping data for table `hotel`

-- Table structure for table `hotel_booking`
CREATE TABLE hotel_booking (
    id INT NOT NULL IDENTITY(1,1),
    user_id INT NOT NULL,
    hotel_id INT NOT NULL,
    checkin_date DATE NOT NULL,
    checkout_date DATE NOT NULL,
    room_quantity INT NOT NULL DEFAULT 1,
    total_price DECIMAL(15,2) NOT NULL,
    status NVARCHAR(100) DEFAULT 'Pending',
    booking_date DATETIME DEFAULT GETDATE(),
    notes NVARCHAR(255) NULL,
    PRIMARY KEY (id),
    CONSTRAINT FK_hotel_booking_users FOREIGN KEY (user_id) REFERENCES users (id),
    CONSTRAINT FK_hotel_booking_hotel FOREIGN KEY (hotel_id) REFERENCES hotel (id)
);

-- Dumping data for table `hotel_booking`


